# Ignore most in datasets folder except the pickle_utils.py
datasets_Dalle_and_others/__pycache__
datasets_Dalle_and_others/Dalle 3_hugging face_19k
ddatasets_Dalle_and_others/face_19k
datasets_Dalle_and_others/Dalle
datasets_Dalle_and_others/others

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore checkpoints directory
checkpoints/

# Ignore temporary files
*.tmp
